<div id="intro_sample_logo">
	<img class="intro_image" src="img/intro/intro.png">
	<div id="deviceready" class="blink">
		<div class="event listening">Connecting</div>
		<div class="event received">RooooM</div>
	</div>
	<div id="intro_explanation">This application is a prototype and provides only the main features.</div>
</div>
<script type="text/javascript" src="js/intro.js"></script>
