<article id="main_category">
	<div class="category_item" id="category_item_01">
		<img class="category_item_icon"
			src="img/main/category/category_image_02.png" alt="category_image_01" />
		<div class="category_item_text">원룸/투룸</div>
	</div>
	<div class="category_item" id="category_item_02">
		<img class="category_item_icon"
			src="img/main/category/category_image_02.png" alt="category_image_02" />
		<div class="category_item_text">아파트</div>
	</div>
	<div class="category_item" id="category_item_03">
		<img class="category_item_icon"
			src="img/main/category/category_image_02.png" alt="category_image_03" />
		<div class="category_item_text">상가/사무실</div>
	</div>
</article>
<article class="main_article" id="main_sale">
	<div class="main_article_title" id="sale_title">
		<div class="vertical_text">RoooM에 방 내놓기</div>
	</div>
	<div class="main_article_subtitle" id="sale_subtitle">
		<div class="vertical_text">sale_subtitle</div>
	</div>
	<div class="main_article_contents" id="sale_button">
		<div class="vertical_text">방을 내놓으려면 클릭하세요</div>
	</div>
</article>
<article class="main_article" id="main_recent">
	<div class="main_article_title" id="recent_title">
		<div class="vertical_text">최근에 본 방</div>
	</div>
	<div class="main_article_subtitle" id="recent_subtitle">
		<div class="vertical_text">recent_subtitle</div>
	</div>
	<div class="main_article_contents recent_item" id="recent_item_01">
		<div class="vertical_text">
			<div>OO구 OO동</div>
			<hr />
			<div>1억</div>
		</div>
	</div>
	<div class="main_article_contents recent_item" id="recent_item_02">
		<div class="vertical_text">
			<div>OO구 OO동</div>
			<hr />
			<div>500/55</div>
		</div>
	</div>
	<div class="main_article_contents recent_item" id="recent_item_03">
		<div class="vertical_text">
			<div>OO구 OO동</div>
			<hr />
			<div>12억</div>
		</div>
	</div>
</article>
<article class="main_article" id="main_dibs">
	<div class="main_article_title" id="dibs_title">
		<div class="vertical_text">찜한 방</div>
	</div>
	<div class="main_article_subtitle" id="dibs_subtitle">
		<div class="vertical_text">dibs_subtitle</div>
	</div>
	<div class="main_article_contents" id="dibs_image">
		<div class="vertical_text">찜한 방이 없습니다.</div>
	</div>
</article>
<!-- <article class="main_article" id="main_news">
	<div class="main_article_title" id="news_title">
		<div class="vertical_text">news_title</div>
	</div>
	<div class="main_article_subtitle" id="news_subtitle">
		<div class="vertical_text">news_subtitle</div>
	</div>
	<div class="main_article_contents" id="news_image">
		<div class="vertical_text">news_image</div>
	</div>
</article> -->
<article class="main_article" id="main_footer">
</article>
<script type="text/javascript" src="js/main.js"></script>