<div id="main_sale_address">
	<div>주소</div>
	<input type="text" placeholder="ex) 서울시 종로구">
	<div>번지</div>
	<input type="text" placeholder="ex) 세종로 1">
	<div>추가정보</div>
	<input type="text" placeholder="건물 명이나 동/호수 정보가 있다면 적어주세요">
	<div>위치 사진</div>
	<div class="button" id="address_button">button</div>
</div>
<div id="main_sale_image">
	<div>샘플 이미지</div>
	<div class="button" id="image_button">button</div>
</div>
<div id="main_sale_detail">
	<div>보증금</div>
	<input type="text" placeholder="1000">만원		
	<div>월세</div>
	<input type="text" placeholder="1000">만원		
	<div>관리비</div>
	<input type="text" placeholder="1000">만원		
	<br/>
	<div>건물 층 수</div>
	<input type="text" placeholder="5">층		
	<div>해당 층 수</div>
	<input type="text" placeholder="2">층	
	<div>전용 면적</div>
	<input type="text" placeholder="24">평
	<div>옵션</div>
	<input type="text" placeholder="에어컨, 세탁기, 옷장">	
	<div>입주가능일</div>
	<input type="text" placeholder="1월 1일">
	<div>제목</div>
	<input type="text" placeholder="간단한 방 정보">	
	<div>상세설명</div>
	<input type="text" placeholder="자세한 내용">
	<div>집주인 연락처</div>
	<input type="text" placeholder="00012345678">
	<div class="button" id="image_button">button</div>
</div>

<script type="text/javascript" src="js/main_sale.js"></script>